<div class="row">
  <div class="col-sm-3 col-xs-3">
      <a class="thumbnail" routerLink="/stats" routerLinkActive="active"> <img src="http://placehold.it/250x150&text=couleur1" alt=""> </a>
  </div>
  <div class="col-sm-3 col-xs-3">
      <a class="thumbnail" routerLink="/stats" routerLinkActive="active"> <img src="http://placehold.it/250x150&text=couleur2" alt=""> </a>
  </div>
  <div class="col-sm-3 col-xs-3">
      <a class="thumbnail" routerLink="/stats" routerLinkActive="active"> <img src="http://placehold.it/250x150&text=couleur3" alt=""> </a>
  </div>
</div>
